            <p class="text small c login-window-stats">
                    Until now <strong> </strong> athletes are registered and have logged <strong>4.522.383,96&nbsp;km</strong>.	<br>
                    <strong>8</strong> athletes are online.<br>
            </p>