            <p class="text small c login-window-stats">
                {% transchoice users %}
                    {0,1} Until now <strong> %users% </strong> athlete is registered and has|]0,Inf] Until now <strong> %users% </strong> athletes are registered and have
                {% endtranschoice %}
                     logged <strong>{{ userkm }} &nbsp;km</strong>.	<br>
            </p>