# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

#Runalyze
build/yuicompressor-*
img/backgrounds/My-*
lib/phpfastcache/cache.storage.*
*.xcf
config.php
*.mo

#Symfony
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/vendor/
/web/_static/
/node_modules/