<div class="panel-heading">
    <div class="panel-menu">
        </div><h1>Plugin configuration: Calculations</h1>
</div>
<div class="panel-content">
    
<fieldset id="_legend_0"><legend onclick="Runalyze.toggleFieldset(this, '_legend_0', false, '')">{% trans %}Description{% endtrans %}</legend>
    <div class="fieldset-messages"><p class="text">{% trans %}Calculate experimental values as shape and fatigue based on TRIMP, basic endurance and your VDOT shape.{% endtrans %}</p>
    </div>
</fieldset>
   <fieldset id="_legend_1"><legend onclick="Runalyze.toggleFieldset(this, '_legend_1', false, '')">{% trans %}Configuration{% endtrans %}</legend>
     {{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}  
   </fieldset> 
    
    

</div>